* {
  margin: 0;
  padding: 0;
}
body,
html {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.center {
  width: 500px;
  background-color: rgba(219, 179, 134, 0.7);
  height: auto;
  text-align: center;
  border-radius: 5px;
}

.profile h2,
p {
  font-weight: lighter;
  letter-spacing: 1px;
  width: 70%;
  margin: 10px auto;
}

button {
  padding: 10px 20px;
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
  width: 300px;
  border: 2px solid #d31b58;
  background: none;
  color: rgb(124, 10, 90);
}
button:hover {
  background-color: #f3fa95;
}
